<%= render "layouts/header" %>

<div class="main posts-index">
  <div class="tag_title">
    <%= "#{params[:q].values[0]}" %>
    <div class="tag_title__info"><%= "@LOCALには「#{params[:q].values[0]}」に関する温泉地の投稿が#{@tweets.count}件掲載されています。" %></div>
  </div>
<%= render "tweet" %>
</div>
<%= render "layouts/footer" %>
