<%= render "layouts/header" %>

<div class="main posts-show">
  <div class="container">
    <div class="top_info">
      <div class="spa_name">
        <%= @tweet.spa_name %>
      </div>
      <% if @tweet.user_id == session[:user_id] %>
        <div class="tweet-menus">
          <%= link_to ("/tweets/#{@tweet.id}/edit") do %>
            <i class="fas fa-edit">編集</i>
          <% end %>
          <%= link_to("/tweets/#{@tweet.id}/destroy",{method:"post"}) do%>
            <i class="fas fa-trash-alt">削除</i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="tweets-show-image">
      <img src="<%= @tweet.image %>" width="700" height="400">
    </div>
    <div class="content__info__box">
      <div class="content__info__box__area">
        <i class="fas fa-map-marker-alt"></i>
        <%= @tweet.area%>
      </div>
      <div class="content__info__box__spring_quality">
        <%= image_tag "onsen_icon.jpg", class:"onsen_icon", size:'18x20' %>
        <%= @tweet.spring_quality %>
      </div>
    </div>
    <% @tweet.tag_list.each do |tag| %>
      <%= link_to "##{tag}",tweets_tags_index_path(tag_name: tag),class:"tags" %>
    <% end %>
    <div class="address-info">
      <P class="address-content">住所</p>
      <%= @tweet.address %>
    </div>
    <div class="url-info">
      <p class="url-content">URL</p>
      <a href="<%= @tweet.url %>"><%= @tweet.url %></a>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>