<%= render "layouts/header" %>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <div class= "user__image">
        <% if @user.image_name.present? %>
          <img src ="<%= @user.image_name %>" ,width="200", height="200">
        <% else %>
          <%= image_tag "default.jpg" ,alt:"ユーザーアイコン" ,class:"default_icon"%>
        <% end %>
      </div>
      <div class= "user__profile">
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>
        <%= link_to("プロフィールを編集","/users/#{@user.id}/edit") %>
      </div>
    </div>
  </div>
  <div class="tabs">
    <div class="tab-content">
      <input id="tabs-1" type="radio" name="tabs" checked>
      <label for="tabs-1"><i class="fas fa-address-book"></i>投稿</label>
        <input id="tabs-2" type="radio" name="tabs">
        <label for="tabs-2"><i class="fas fa-heart"></i>行きたい</label>
      <div class="line"></div>
      <div id="tabs-b1">
      <%= render "tweets/tweet" %>
      </div>
      <div id="tabs-b2">
      <%= render "favorites" %>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
