<header>
  <% if session[:user_id] %>
    <div class="header-logo">
      <%= link_to image_tag("logo.jpg",size: '200x50'),"/tweets/index" %>
    </div>
  <% else %>
    <div class="header-logo">
      <%= link_to image_tag("logo.jpg",size: '200x50'),"/" %>
    </div>
  <% end %>
  
  <div class="header-menus">
    <div class="header-menus__list">
    <% if session[:user_id] %>
      <%= link_to ("/users/#{session[:user_id]}") do %>
        <i class="fas fa-user-circle"></i>
      <% end %>
        <%= link_to("新規投稿","/tweets/new",{class:"red-btn"}) %>
        <!-- ログアウト用のリンクを追加してください -->
        <%= link_to("ログアウト", "/logout", {method: :post,class:"blue-btn"}) %>
    <% else %>
        <%= link_to("@LOCALとは", "/about") %>
    <% end %>
  </div>
</header>